/* This file will hold styles that are loaded using the same media query as the narrow grid. */
/* If you are using the default media queries provided by Omega, these styles will also
 *  apply to the normal and widescreen layouts. You may override these styles in the normal 
 *  and widescreen CSS files as appropriate. */
/* Banner */
.section-header{
  background-image: url("../images/banner.png");
  background-repeat: repeat-x;
  background-position: center top;
  padding: 0px 0px;
}body {
  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-size: .85em;
  line-height: 2.1em;
  font-weight: 300; 
  letter-spacing: .05em;  
  background-color: white;
}
/* This positions the navigation menu, by pushing it down. */
.zone-branding-wrapper{
  height: 138px;
  background-image: none;
}
ul.inline li {
  padding: 0 .5em;
}    
.logo-img {
	margin: 45px 0px 0px 20px;
}
.zone-menu a {
  letter-spacing: .3em;
}
/* This is for the bullet list on the experience page. */
.node ul{
  margin: -4px 0px 0px 40px; 
}
.title,
h2.node-title,
h1{
  font-size: 2em;  
  padding: 20px 130px 0px;
}
h3{
  font-size: 1.5em;  
  padding: 0px 10px 0px;
}
/* This is the left & right margin for all the pages, including the forms. */
.block-system-main{
  padding: 0px 30px;
}
/* This is the white space from the end of paragraph to the footer bar at the bottom of all pages. */
.section-content{
  margin-bottom: 20px;
}
/* This is the background image for the home and values page. */
.page-node-2 .zone-content,
.page-node-1 .zone-content
 {
  background-image: url("../images/sketch.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
/* This is the background images for the expertise page. */
.page-node-4 .region-content{
  background-image: url("../images/gears_wide.jpg");
  background-repeat: no-repeat;
  background-position: 0% 40px;
}
.page-node-4 .zone-content
 {
  background-image: url("../images/sketch.jpg");
  background-repeat: no-repeat;
  background-position: 85% 100%;
}
/* This is the background images for the strategy page. */
.page-node-3 .region-content{
  background-image: url("../images/gears_tall.jpg");
  background-repeat: no-repeat;
  background-position: 0% 30px;
}
.page-node-3 .zone-content
 {
  background-image: url("../images/sketch.jpg");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}
/* This is positioning the footer links, and also controls the whole width of the top banner.*/
.zone-footer.container-24{
  width: 70%;
}
.container-24 .region-footer-first.grid-12 {
  float: left;
  width: 40%;
  margin: 0px 2%;
}
.container-24 .region-footer-second.grid-12 {
  float: right;
  width: 52%;
  margin: 0px 2%;
}
/* This is positioning the footer links.
.zone-footer.container-24{
  width: 660px;
}
.container-24 .region-footer-first.grid-12 {
  width: 300px;
}
.container-24 .region-footer-second.grid-12 {
  width: 300px;
}
 */