/* This file will hold styles for the mobile version of your website (mobile first). */
/* This also can include ANY global CSS that applies site-wide. Unless overwritten by a more specific style rule, CSS declarations in global.css will apply site-wide. */
/* Banner */
body {
  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-size: .7em;
  color: #343434;
  line-height: 1.7em;
  font-weight: 300; 
  letter-spacing: .03em;
}
a, a:link, a:visited, a:hover{
  text-decoration: none;
  font-weight: 400;   
}
a:link{
  color: #40a8dc;
}
a:hover, a:visited{
  color: #40a8dc;
}
p,
h1,
h3 {
  margin-bottom: 12px;
}
/* webform styling */
label {
  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-size: 1em;
  font-weight: 400; 
  letter-spacing: .06em;
}
/* This positions the navigation menu, by pushing it down. */
.zone-branding-wrapper{
	height: 140px;
  background-image: url("../images/bannermobile.png");
  background-repeat: repeat-x;
  background-position: center top;
  padding: 0px 0px;
}
.region-branding{
  width: 276px;
  margin: 0px auto;
}
.logo-img {
  margin: 45px 0px 0px 0px;
  width: 276px;
}
.mean-container .mean-bar{
  background-color: #61C2E2;
  height: 175px;
  margin-bottom: 20px;
}
.mean-container .mean-nav ul li a {
  background-color: #0e3c7a;
  text-align: center;
  letter-spacing: .3em;
}
/* This is for the navigation menu across the top. */
.zone-menu  {
  text-align: center;
}
.zone-menu a {
	color: #033060;
  font-size: .9em;
	text-decoration: none;
	font-weight: 600;
  text-transform: uppercase;
  letter-spacing: .15em;
}
.zone-menu a:hover,
.zone-menu a.active {
	color: #ffffff;
}

ul.inline li {
  padding: 0em .4em;
}    
.navigation	{
	text-decoration: none;
}
/* This is for the page headlines, and subheads. */
.title,
h2.node-title,
h1,
h3 {
  font-family: 'Open Sans', 'Verdana', sans-serif;
  font-weight: 300; 
  color: #3993AB; 
  letter-spacing: .05em;
	text-align: center;
  line-height: 130%;
}
.title,
h2.node-title,
h1{
  font-size: 2em;  
  padding: 10px 30px 0px;
}
h3{
  font-size: 1.5em;  
  padding: 0px 30px 0px;
}
/* This is for the home page headline, which is an article. */
h2.node-title a{
  text-decoration: none;
}
/* This is for the bullet list on the experience page. */
.node ul{
  margin: -4px 0px 0px 10px; 
  list-style-type: circle;
}
/* This is the left & right margin for all the pages, including the forms. */
.block-system-main {
  padding: 0px 30px;
}

/* This is the white space from the end of paragraph to the footer bar at the bottom of all pages. */
.section-content{
  margin-bottom: 15px;
}
/* This is the footer info all pages. */
.region-footer-first-inner{
  text-align: left;
}
.region-footer-second-inner{
  text-align: right;
}
.region-footer-second-inner, 
.region-footer-first-inner{
  font-size: .6em;
  height: 40px;
  color: #61C2E2;
}
.zone-footer-wrapper{
  background-color: #0e3c7a;
  height: 40px;
}
.zone-footer a,
.zone-footer a:link,
.zone-footer a:visited,
.zone-footer a:hover {
  color: #61C2E2; 
}
/* This is positioning the footer links, and also controls the whole width of the top banner.*/
.zone-footer.container-24{
  width: 100%;
}
.container-24 .region-footer-first.grid-12 {
  float: left;
  width: 40%;
  margin: 0px 2%;
}
.container-24 .region-footer-second.grid-12 {
  float: right;
  width: 52%;
  margin: 0px 2%;
}
